

<div class="editView">
    <h2>Edit Item</h2>
    <form action="">
        <div class="row">
            <label for="title">Title:</label>
            <input type="text" id="title" value="{{=model.title }}"/>
        </div>

        <div class="row">
            <label for="price">Price:</label>
            <input type="text" id="price" value="{{=model.price }}"/>
        </div>

        <div class="row">
            <label for="photoUrl">Photo url:</label>
            <input type="text" id="photoUrl" value="{{=model.photoUrl }}"/>
        </div>

        <div class="row">
            <label for="date">Date:</label>
            <input type="text" name="" value="{{=model.date }}" id="date"/>
        </div>


        <div class="button">
            <div id="save">Save</div>
            <div id="cancel">Cancel</div>
        </div>
    </form>
</div>