<div class="menuPage">
    <ul>
        <li id="user">
                <div class="user_box">
                    <img style="background-image: url('{{=model.photoUrl }}')" alt="" id="photo"/>
                    <div id="name">{{=model.username }} {{=model.surname }}
                        <br/> Age: {{=model.age }} <br/> Sex: {{=model.sex }}</div>
                </div>
            </li>
        <li id="items">My items</li>
        <li id="add_items">Add items</li>
        <li id="people">People</li>
        <li id="friends">Friends</li>
        <li id="suggestion">Suggestion</li>
        <li id="settings">Settings</li>
        <li id="logout">Log Out</li>
        <li id="help">Help</li>
    </ul>
</div>