
<div class="loginView">
    <div class="input_box">
        <div class="title">BuyMe</div>
            <form action="">
                <div class="row">
                    <input type="text" id="login" value="{{=model.login || '' }}" placeholder="Login"/>
                </div>

                <div class="row">
                    <input type="password" id="password" value="{{=model.password || '' }}" placeholder="Password"/>
                </div>

                <div class="row">
                    <div class="submit">Login</div>
                    <div class="link">Sign Up</div>
                </div>
            </form>
        </div>
    <div class="helper"></div>
    </div>

</div>