<div class="regView">
    <div class="input_box">
        <div class="title">BuyMe</div>
        <form action="">
            <div class="row">
                <input type="text" id="login" placeholder="Login"/>
            </div>

            <div class="row">
                <input type="password" id="password" placeholder="Password"/>
            </div>

            <div class="row">
                <input type="password" id="password_repeat" placeholder="Password Again"/>
            </div>

            <div class="row">
                <input type="email" id="email" placeholder="E-mail"/>
            </div>

            <div class="row">
                <div class="submit">Sign Up</div>
                <div class="link">Login</div>
            </div>
        </form>
    </div>
    <div class="helper"></div>
</div>
