<div class="add_item">
    <h2>Create new Item</h2>
    <form action="">
        <div class="row">
            <label for="title">Title:</label>
            <input type="text" id="title" placeholder="Need to buy"/>
        </div>

        <div class="row">
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="Price"/>
        </div>


        <div class="row item_photo">
            <input type="file" id="item_pic"/>
            <div class="photo"></div>
            <div class="photo_info">
                <div class="load_status">
                    <progress value="31" max="100"></progress>
                </div>
                <div class="pic_info">
                    <ul>
                        <li>Image: <div id="name"></div></li>
                        <li>File size: <div id="size">0</div></li>
                        <li>Type: <div id="types">0</div></li>
                    </ul>
                </div>
            </div>
        </div>



    <div class="button">
        <div id="addNewItem">
            Add Item
        </div>
    </div>
    </form>
</div>


