<div class="add_item">
    <h2>Create new Item</h2>
    <form action="">
        <div class="row">
            <label for="title">Title:</label>
            <input type="text" id="title" placeholder="Need to buy"/>
        </div>

        <div class="row">
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="Price"/>
        </div>


        <div class="row">
            <label for="photoUrl">Photo url:</label>
            <input type="text" id="photoUrl" placeholder="Photo Url"/>
        </div>

        <div class="row">
            <label for="type">Item's type:</label>
            <select name="" id="type">
                <option value="Auto">Auto</option>
                <option value="Auto">Auto</option>
                <option value="Auto">Auto</option>
                <option value="Auto">Auto</option>
            </select>
        </div>

    <div class="button">
        <div id="addNewItem">
            Add Item
        </div>
    </div>
    </form>
</div>


