<div class="add_item">
    <h2>Create new Item</h2>
    <form action="">
        <div class="row">
            <label for="title">Title:</label>
            <input type="text" id="title" placeholder="Need to buy"/>
        </div>

        <div class="row">
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="Price"/>
        </div>


        <div class="row item_photo">
            <input type="file" id="item_pic"/>
            <img class="photo">
        </div>

    <div class="button">
        <div id="addNewItem">
            Add Item
        </div>
    </div>
    </form>
</div>

<div class="load">Sent...</div>

